/* TODO: Remove TailwindCSS */
@tailwind base;

/* Move to Stiches */
html {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

video {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-mask-image: -webkit-radial-gradient(#fff,#000);
  vertical-align: baseline;
}